/* Welcome Intro - shape, text and button */
.ellipse{
    max-width: 700px;   /*width, height of the box -- essential to contain items in the center*/
    max-height: 550px;
    border: 2px solid rgba(132, 229, 164, 0.371);
    border-radius: 50%;
    background-color: rgba(0, 255, 128, 0.286);
    box-shadow: 0px 5px 2px rgba(132, 229, 164, 0.371);
    margin: 0 auto;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ellipse-text{
    text-align: center;
    color: lavenderblush;
}
.ellipse-button{
    max-width: 100px;
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
}
.ellipse-button a{
    text-decoration: none;
    color: #f2f;
    font-weight: bold;
}
.ellipse-button:hover{
    transition: 0.1s;
    transform: translateY(3px);
    background-color: lightpink;
    box-shadow: 0 10px 5px rgba(15, 15, 15, 0.2); 
}


/*Photo and Art of the Day - title, image and description*/
.box{
    max-width: 650px;   /*width, height of the box -- essential to contain items in the center*/
    max-height: 550px;
    display: flex;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    align-items: center;
    border: 2px solid rgba(132, 229, 164, 0.371);
    border-radius: 20px;
}

.box-item{
    display: flex;
    justify-content: space-between;
    
    border-radius: 20%;
}

.box-item img
{
    max-width: 200px;
    max-height: 200px;
    border: 0 solid black;
    border-radius: inherit;
}
.box-item p {
    color: whitesmoke;
    text-align: center;
}
.box-item cite{
    padding-top: 10px;
}
.box-item-title{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
