/* User Information */
.user-info{
    width: 400px;
    background-color: transparent;
    text-align: center;
    border: 2px solid rgba(122, 218, 224, 0.771);
    border-radius: 20px;
    padding: 5px;
    margin: 0 auto;
    font-size: larger;
}


/* CART - cart.html */
.goto-button-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}
.goto-button{
    background-color: transparent;
    border: 2px solid rgba(75, 233, 122, 0.771);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}
.goto-button:hover{
    font-weight: 500;
    background-color: royalblue;
    /*transition-duration: 0.3s;*/
}

/* CHECKOUT - checkout.html */
.checkout-title,
.payment-title
 {
    max-width: 200px;
    background-color: rgba(75, 233, 122, 0.571);

    text-align: center;
    border: 2px solid rgba(75, 233, 122, 0.771);
    border-radius: 20px;
    padding: 5px;
    margin: 0 auto;
    font-size: larger;
}

.checkout-title .checkout-items,
.payment-title .payment-items
{
    font-size: small;
    font-weight: 500;
}

.checkout-title .checkout-cart-icon,
.payment-title .checkout-cart-icon
{
    max-width: 30px;
    max-height: 20px;
    object-fit: cover;
}

.checkout-container{
    display: flex;
    flex-wrap: nowrap;
/*
    display: grid;
    grid-template-columns: repeat(3, 1fr);
*/
    overflow-y: scroll;

    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 80%;
    height: 40%;
    margin: 0 auto;

    border:5px solid rgba(27, 163, 152, 0.571);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
  
.product-container {
    flex: 0 0 calc(50% - 10px);
    margin-right: 10px;
}

.checkout-container .product-container .product{
    max-width: 85%;   /*width, height of the box -- essential to contain items in the center*/
    max-height: 100%;
    border: 2px solid rgba(122, 218, 224, 0.771);
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 10px;

}
.checkout-container .product .product-title{
    padding-top: 2px;
}
.checkout-container .product img{
    border-radius: 10px;
    width: 25%;
    height: 25%;
    padding: 10px;
    border: 2px solid rgba(125, 228, 156, 0.971);

}
.checkout-container .product p, 
.checkout-container .product cite
{
    font-size: small;
}
.checkout-container .empty-cart{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: large;
    font-style: italic;
    font-weight: 500;
}
.empty-cart a{
    color: purple;
}


/*buttons*/
.checkout-container .product-container .options{
    display: flex;
    justify-content: space-between;
}
.checkout-container .product button a{
    font-size: small;
    color:whitesmoke;
}
.checkout-container .product button{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 400;
}
.checkout-container .product .add-button{
    background-color: rgb(88, 67, 222);
    color: whitesmoke
}
.checkout-container .product .add-button .quantity-input{
    width: 10px;
}
.checkout-container .product .remove-button{
    background-color: brown;
}

.checkout-container .product button:hover{
    cursor: pointer;
    /*font-weight: 500;
    transition-duration: 0.3s;
    transform: translateY(-2px);
*/}
.checkout-container .product .add-button:hover{
    background-color: blue;
}
.checkout-container .product .remove-button:hover{
    background-color: red;
}


/* PAYMENT - payment.html */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Quicksand:wght@300&family=Raleway:ital,wght@1,100&display=swap');

.spacer{
    height: 50px;
}
.payment-title{
    background-color: yellow;
    color: black;
    font-weight: bolder;
}

.payment-container, 
.payment-form{
    display: flex;
    flex-direction: column;

    text-align: center;
    max-width: 80%;
    max-height: 100%;
    border-radius: 20px;
    border: 2px solid rgba(133, 236, 228, 0.571);
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.payment-form form{
    list-style: none;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Architects Daughter', cursive;
}

.items-purchased{
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid rgba(133, 236, 228, 0.571);
    margin: 0 auto;
    padding: 20px;
    font-family: 'Architects Daughter', cursive;
}
.items-purchased table{
    width: 100%;
    text-align: center;
}
.items-purchased table th{
    color:rgba(16, 203, 236, 0.771);
    font-weight: bolder;
    text-transform: uppercase;
}
.items-purchased table th, 
.items-purchased table td{
    padding: 10px;
    width: calc(100% - 250px) / 3; 
}


.payment-procedure{
    background-color: rgba(251, 252, 251, 0.89);
    color: black;
    border-radius: 25px;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
}

.payment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px auto;
}

.payment-form button input{
    background-color: transparent;
    border: 2px solid rgba(75, 233, 122, 0.771);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}