body{
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;

    height: 100%;
    display: grid;
    place-items: center;
}

div, p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
}

/* glow headings like neon lights */
.heading {
    font-size: 32px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #0066ff, 0 0 70px #0066ff, 0 0 80px #0066ff, 0 0 100px #0066ff, 0 0 150px #0066ff;
    margin: 0 auto;
    padding-top: 40px;
}

.logo-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: whitesmoke;
}
.logo-description a{
    color: goldenrod;       
}

.form-container{
    padding-bottom: 40px;
    margin: 0 auto;
    width: 50%;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin: 0 auto;
}

.form-button.login{
    max-width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #0099FF;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}
.form-button.register{
    max-width: 200px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #f2a1ab;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}

.form-button.register:hover {
    background-color: #f2f;
    cursor: pointer;
}
.form-button.login:hover{
    background-color: #092fff;
    cursor: pointer;
}
.form-message{
    color: red;
    font-size: 16px;
    padding: 20px;
}