{% extends "admin/index.html" %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'admin/styles_index.css' %}"/>
{% endblock %}


{% block content %}

  <h1 class="title"> Welcome, Admin !</h1>
  <p class="subtitle">Checkout the stats and database tables.</p>

  <div class="custom-section">
    <h2 class="subtitle">Custom Section</h2>
    <p class="subtitle">This is a custom section that you can add to the admin index page.</p>
  </div>  

{% endblock %}


<!--- excludes 'Recent Actions' sidebar -->
{% block sidebar %}

  <div class="sidebar">
    <p class="title">This is a sidebar.</p>
  </div>

  <div class="models-list">
    <p class="title">Models</p>    
    {% for app_label, models in app_dict.items %}
      {% for model, model_admin in models.items %}
        <div>
          {% with changelist_url='admin:customadmin_'|add:app_label|add:'_'|add:model|add:'_changelist' %}
            <a href="{% url changelist_url %}">
              {{ model_admin.opts.verbose_name_plural }}
            </a>
          {% endwith %}
        </div>
        <ul>
          {% with request=request %}
            {% for field in model_admin.get_fields %}
              <li>{{ field.name }}</li>
            {% endfor %}
          {% endwith %}
        </ul>
      {% endfor %}
    {% endfor %}
  </div>

{% endblock %}
