{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Barter Bazaar</title>
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    <!-- favicon --->
    <link rel="icon" href="{% static 'users/logo.png' %}">
</head>
<body>
    <div class="logo-container">
        <a href="{% url 'photostore:index' %}">
            <image class="logo" src="{% static 'users/logo.png' %}" alt="logo"/>
        </a>
    </div>
    <div class="logo-description">
        <h1 class="heading">Welcome !</h1>
        <p>
            This website is created by <a href="https://www.github.com/prak112/">Prakirth Govardhanam</a>
            <br>
            No data is stored or manipulated for any purposes. 
            <br>This is purely for learning and educational purposes.
            <br> 
            <cite>
                Logo Credits : <a href="https://www.pexels.com/photo/silhouette-of-man-on-boat-2968938/">Photo by Doni Haris</a> from <a href="https://www.pexels.com/">Pexels</a>
            </cite>
        </p>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>