{% extends "users/layout.html" %}


{% block content %}

{% if message %}
    <div class="form-message">
        {{ message }}
    </div>
{% endif %}

<h1 class="heading">Login</h1>
<div class="form-container">
    <form action="{% url 'users:login' %}" method="POST" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}<br>
        <div>
            <input class="form-button login" type="submit" value="Login">
        </div>
    </form>

    <p class="form-group"><b>Don't have an account ?</b></p>
    <div class="form-button register">
        <a href="{% url 'users:signup' %}" rel="noopener" target="_blank">Create Account</a>
    </div>
</div>

{% endblock %}