

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/users/css/login.css">
</head>
<body>
    <div class="container">
        <img src="/static/users/images/logo.jpg" alt="login">
        <h1 class="title">Login</h1>
        <form class="form" action="{% url 'users:login' %}" method="POST">
            {% csrf_token %}
            

        </form>
    </div>    
</body>
</html>