{% extends "users/layout.html" %}

{% block content %}

{% if message %}
    <div class="form-message">
        {{ message }}
    </div>
{% endif %}

<h1 class="heading">Sign Up</h1>
<div class="form-container">
    <form class="form-group" action="{% url 'users:signup' %}" method="POST">
        {% csrf_token %}
        <!--hidden fields-->
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <!--visible fields-->
        {% for field in form.visible_fields %}
            <div class="field-wrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}                    
                {% if field.help_text %}
                    <p style="font-size: 10px;">{{ field.help_text }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <input class="form-button register" type="submit" value="Sign Up">
    </form>
    
    <p class="form-group"><b>Already have an account ?</b></p>
    <button type="redirect" class="form-button login">
        <a href="{% url 'users:login' %}" rel="noopener" target="_blank">Login</a>
    </button>
</div>

{% endblock %}