{% extends "users/layout.html" %}
{% load static %}

{% block content %}
    <h1 class="heading">My Profile</h1>
    <div>
        <ul>
            <li>Name : {{ request.user.first_name }} {{ request.user.last_name }} </li>
            <li>Email : {{ request.user.email }} </li>
            <li>Username : {{ request.user.username }}</li>
            <li>Profession/Hobby : {{ request.user.customer_type }} </li>
            <li>Bio : {{ request.user.bio }} </li>
        </ul>
    </div>
{% endblock %}