{% extends "photostore/layout.html" %}
{% load static %}

{% block content %}
    <h1 class="heading">About Us</h1>
    <div class="spacer"></div>
    <div class="about-us">
        <p class="about-us-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Vitae accusantium magni eveniet commodi consequatur iure doloremque nulla tempore sapiente,
            beatae delectus ut ipsam eligendi optio exercitationem nobis consectetur hic deserunt reiciendis repellat vel facilis.
        </p>
        <p class="about-us-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Vitae accusantium magni eveniet commodi consequatur iure doloremque nulla tempore sapiente, 
            beatae delectus ut ipsam eligendi optio exercitationem nobis consectetur hic deserunt reiciendis repellat vel facilis.
        </p>
        <p class="about-us-text">
            Nihil nisi voluptas dolorum impedit expedita, minima ipsam. Eveniet harum quia blanditiis repellat minus labore voluptas.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p class="about-us-text"> 
            Vitae accusantium magni eveniet commodi consequatur iure doloremque nulla tempore sapiente, 
            beatae delectus ut ipsam eligendi optio exercitationem nobis consectetur hic deserunt reiciendis repellat vel facilis. 
            Nihil nisi voluptas dolorum impedit expedita, minima ipsam. Eveniet harum quia blanditiis repellat minus labore voluptas.
        </p>
    </div>
    <br>
    <div class="spacer"></div>
{% endblock %}