{% extends "photostore/layout.html" %}
{% load static %}

{% block content %}
    <h1 class="heading">Checkout</h1>
    <div class="checkout-title">
        <p>
            My Cart
            <img class="checkout-cart-icon" src="{% static 'photostore/checkout-cart-icon.png' %}" alt="checkout-cart-icon"/>
            <span class="checkout-items">( {{ cart|length }} )</span>
        </p>
    </div>
    <div class="checkout-container">
        {% for product in cart %}
        <div class="product-container">
            <div class="product">
                <img src="{% static product.image %}" alt="{{ product.title }}"/>
                <!--image description-->
                <p>
                    <span class="box-item-title">{{ product.title }}</span><br>
                    <span>{{ product.description }}</span><br>
                    <span>Theme : {{ product.get_theme_display }}</span><br>
                    
                    {% if product.category == 'PH' %}
                        <cite>Image Source : By {{ product.author }} from <a class="photo-source" href="{{ product.image_url }}">Pexels</a></cite>
                    {% else %}
                        <cite>Image Source : <a class="photo-source" href="{{ product.image_url }}" target="_blank" rel="noopener">Bing Image Creator</a></cite>
                    {% endif %}
                    <b>{{ product.get_status_display }}</b>
                </p>           
                <div class="options">
                    <button class="change-button">
                        <a href="">Change</a>
                    </button>
                    <button class="remove-button">
                        <a href="">Remove</a>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<!--    
    <div class="product-container">
            <div class="product">
                <img src="{% static 'images/photo-mountain.jpg' %}" alt="pexels-photo-mountain"/>
                <p>       
                    <span class="product-title">Mountain Photo by Daniel Handl</span><br>
                    A breathtaking view of mountains with a half moon in the sky.<br>
                    <cite>Photo by Daniel Handl from Pexels</cite>
                </p>
                <div class="options">
                    <button class="change-button">
                        <a href="">Change</a>
                    </button>
                    <button class="remove-button">
                        <a href="">Remove</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="product-container">
            <div class="product">
                <img src="{% static 'images/art-mountain.jfif' %}" alt="bing-art-mountain"/>
                <p>
                    <span class="product-title">Mountain Art by Bing Image Creator</span><br>
                    A classic landscape art of mountains, lake and a forest.<br>
                    <cite>Generated with Bing Image Creator</cite>
                </p>            
                <div class="options">
                    <button class="change-button">
                        <a href="">Change</a>
                    </button>
                    <button class="remove-button">
                        <a href="">Remove</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="spacer"></div>

    <div class="payment-title">
        <p>
            Payment
            <img class="checkout-cart-icon" src="{% static 'photostore/checkout-cart-icon.png' %}" alt="checkout-cart-icon"/>
            <span class="payment-items">( {{ cart|length }} )</span>
        </p>
    </div>
    <div class="payment-container">
        <div class="payment-procedure">
            <p>
                The procedure is simple.<br><br>Upload an image (photo or art)&nbsp;&nbsp;relevant to Nature either
                digital or manual. However, you should be the only one holding the copyrights, i.e., image should be your
                own creation.<br><br>If you feel generous, feel free to upload more 🫶🏻        
            </p>
        </div>
        <div class="payment-button">
            <fieldset class="options">
                <legend>Do you want to "Pay With Image" ?</legend>
                <button>                    
                    <a href="{%url 'photostore:payment' choice='Yes' %}">Yes</a>
                </button>
                <button>
                    <a href="{% url 'photostore:payment' choice='No' %}">No</a>
                </button>
            </fieldset>
            <br>
        </div>
    </div>
{% endblock %}