{% extends "photostore/layout.html" %}
{% load static %}

{% block content %}
<div>
<!-- user info -->
{% if request.user.is_authenticated %}
    <h1 class="heading">User Information</h1>
    <div class="user-info">
        <p>
            <span class="box-item-title">Name :</span>
            <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
        </p>
        <p>
            <span class="box-item-title">Email :</span>
            <span>{{ request.user.email }}</span>
        </p>
    </div>
{% endif %}
</div>

<div>
<!-- products info -->
    <h1 class="heading">Checkout</h1>
    <div class="checkout-title">
        <p>
            My Cart
            <img class="checkout-cart-icon" src="{% static 'photostore/checkout-cart-icon.png' %}" alt="checkout-cart-icon"/>
            <span class="checkout-items">( {{ cart|length }} )</span>
        </p>
    </div>
    <div class="checkout-container">
    {% if request.user.is_authenticated  and cart %}
        {% for product in cart %}
        <div class="product-container">
            <div class="product">
                <img src="{% static product.item.image %}" alt="{{ product.item.title }}"/>
                <!--image description-->
                <p>
                    <span class="box-item-title">{{ product.item.title }}</span><br>
                    <span>{{ product.item.description }}</span><br>
                    <span>Theme : {{ product.item.get_theme_display }}</span><br>
                    
                    {% if product.category == 'PH' %}
                        <cite>Image Source : By {{ product.item.author }} from <a class="photo-source" href="{{ product.item.image_url }}">Pexels</a></cite>
                    {% else %}
                        <cite>Image Source : <a class="photo-source" href="{{ product.item.image_url }}" target="_blank" rel="noopener">Bing Image Creator</a></cite>
                    {% endif %}
                </p>           
                <div class="options">
                    <button class="change-button">
                        <form action="{% url 'photostore:add-to-cart' product_id=product.item.id %}" method="POST">
                            {% csrf_token %}
                            {% if product.quantity > 1 %}
                                <input class="quantity-input" type="number" name="quantity" id="quantity" value="{{ product.quantity }}">
                            {% else %}
                                <input class="quantity-input" type="number" name="quantity" id="quantity" value="1" min="1">
                            {% endif %}
                            <input type="submit" value="Change">   
                        </form>
                    </button>
                    <button class="remove-button">
                        <a href="">Remove</a>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    <!-- checkout buttons -->
    <div class="goto-button-container">
        <div class="goto-button">
            <a href="{% url 'photostore:products' %}">Continue Shopping</a>
        </div>
        <div class="goto-button">
            <a href="{% url 'photostore:payment' %}">Go To Payment</a>
        </div>
    </div>

    <!-- if user cart is empty --->
    {% elif not cart and request.user.is_authenticated %}
        <p class="empty-cart">Your cart is empty. <a href="{% url 'photostore:products' %}">Go Add some!</a></p>
    <!-- if user not authenticated --->        
    {% elif not request.user.is_authenticated %}
        <p class="empty-cart"> <a href="{% url 'users:login' %}">Login</a> to see your information, add products and view your cart.</p>
    {% endif %}

    <div class="spacer"></div>


</div>
{% endblock %}