{% extends "photostore/layout.html" %}
{% load static %}


{% block content %}
<!-- user info, products info, payment info -->

    <div class="payment-title">
        <p>
            Payment
            <img class="checkout-cart-icon" src="{% static 'photostore/checkout-cart-icon.png' %}" alt="checkout-cart-icon"/>
            <span class="payment-items">( {{ cart|length }} )</span>
        </p>
    </div>

    <!---user info-->
    <h1 class="heading">User Information</h1>
    <div class="user-info">
        <p>
            <span class="box-item-title">Name :</span>
            <span>{{ request.session.first_name }} {{ request.session.last_name }}</span>
        </p>
        <p>
            <span class="box-item-title">Email :</span>
            <span>{{ request.user.email }}</span>
        </p>
    </div>

    <div class="spacer"></div>

    <!-- payment info -->
    <div class="payment-container">
        <div class="payment-title">
            <p>
                Payment
                <img class="checkout-cart-icon" src="{% static 'photostore/checkout-cart-icon.png' %}" alt="checkout-cart-icon"/>
                <span class="payment-items">( {{ cart|length }} )</span>
            </p>
        </div>
        <div class="payment-procedure">
            <p>
                Payment procedure is simple.<br><br>Upload an image (photo or art)&nbsp;&nbsp;relevant to Nature either
                digital or manual. However, you should be the only one holding the copyrights, i.e., image should be your
                own creation.<br><br>If you feel generous, feel free to upload more 🫶🏻        
            </p>
        </div>

        <div class="spacer"></div>
        
        <div class="items-purchased">
            <p class="heading">Items in the Cart</p>
            <table>
                <th>Product</th>
                <th>Category</th>
                <th>Theme</th>
                <th>Quantity</th>
                {% for product in cart %}
                <tr>
                    <td>{{ product.item.title }}</td>
                    <td>{{ product.item.get_category_display }}</td>
                    <td>{{ product.item.get_theme_display }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <button class="remove-button">
                            <a href="{% url 'photostore:remove-from-cart' product_id=product.id %}">Remove</a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="spacer"></div>
        <div class="goto-button">
            <a href="{% url 'photostore:checkout' %}">Return To Checkout</a>
        </div>
    </div>    
    
    <h1 class="heading">Payment Details</h1>
    <div class="checkout-title">
        <p>
            My Cart
            <img class="checkout-cart-icon" src="{% static 'photostore/checkout-cart-icon.png' %}" alt="checkout-cart-icon"/>
            <span class="checkout-items">( {{ cart|length }} )</span>
        </p>
    </div>   

    <div class="payment-form">
        <form action="{% url 'photostore:payment' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
            <p>
                {{ field.errors }}
                {{ field.label_tag }}<br>
                {{ field }}<br>
            </p>
            {% endfor %}
            <br>
            <button>
                <input class="button" type="submit" value="Upload Image">
            </button>
        </form>        
        <h2 class="heading">Thank you for your support! 🫶🏻</h2>
    </div>

{% endblock %}