{% extends "photostore/layout.html" %}
{% load static %}


{% block content %}
<!-- user info, products info, payment info -->

    <div class="payment-title">
        <p>
            Payment
            <img class="checkout-cart-icon" src="{% static 'photostore/checkout-cart-icon.png' %}" alt="checkout-cart-icon"/>
            <span class="payment-items">( {{ cart|length }} )</span>
        </p>
    </div>
    
    {% if choice == 'Yes' %}
    <h1 class="heading">Payment Details</h1>
    <div class="checkout-title">
        <p>
            My Cart
            <img class="checkout-cart-icon" src="{% static 'photostore/checkout-cart-icon.png' %}" alt="checkout-cart-icon"/>
            <span class="checkout-items">( {{ cart|length }} )</span>
        </p>
    </div>   

    <div class="payment-form">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}<br>
            <button>
                <input class="button" type="submit" value="Upload Image">
            </button>
        </form>

    <!-- 
        <button>
            <a href="{% url 'photostore:index' %}">Pay with Image</a>
        </button>
    -->
        <h2 class="heading">Thank you for your support! 🫶🏻</h2>
    {% else %}
        <p class="heading">Thanks for visiting!</p>
    {% endif %}
    </div>

{% endblock %}