{% extends "photostore/layout.html" %}
{% load static %}

{% block content %}
<main>

    <!--- Photo and Art of the Day -->
    <div class="box">
        <div class="box-item">
            <img src="{% static random_photo.image %}" alt="{{ random_photo.title }}">
        </div>
        <!--add to cart-->
        <button>
            {% if request.user.is_authenticated %}
                <a href="{% url 'photostore:add-to-cart' id=product.id %}">
                    <img class="cart-icon" src="{% static 'photostore/add-to-cart.png' %}" alt="add-to-cart-icon"/>
                </a>
            {% else %}
                <a href="{% url 'users:login' %}">
                    <img class="cart-icon" src="{% static 'photostore/add-to-cart.png' %}" alt="add-to-cart-icon"/>
                </a>
            {% endif %}
        </button>
        <div class="box-item">
            <p>       
                <span class="box-item-title">Photo of the Day</span><br>
                <b>Theme</b> : {{ random_photo.get_theme_display }}<br>
                {{ random_photo.title }}<br>
                {{ random_photo.description }}<br>
                <cite>Image Source : By {{ random_photo.author }} from <a class="photo-source" href="{{ random_photo.image_url }}"  target="_blank" rel="noopener">Pexels</a></cite>
                <br>
                <b>{{ random_photo.get_status_display }}</b>            
            </p>
        </div>
    </div>
    
    <div class="box">
        <div class="box-item">
            <p>
                <span class="box-item-title">Art of the Day</span><br>
                <b>Theme</b> : {{ random_art.get_theme_display }}<br>
                {{ random_art.title }}<br>
                {{ random_art.description }}<br>
                <cite>Image Source : <a href="{{ random_art.image_url }}"  target="_blank" rel="noopener">Bing Image Creator</a></cite>
                <br>
                <b>{{ random_photo.get_status_display }}</b>            
            </p>
        </div>
        <!--add to cart-->
        <button>
            {% if request.user.is_authenticated %}
                <a href="{% url 'photostore:add-to-cart' id=product.id %}">
                    <img class="cart-icon" src="{% static 'photostore/add-to-cart.png' %}" alt="add-to-cart-icon"/>
                </a>
            {% else %}
                <a href="{% url 'users:login' %}">
                    <img class="cart-icon" src="{% static 'photostore/add-to-cart.png' %}" alt="add-to-cart-icon"/>
                </a>
            {% endif %}
        </button>        
        <div class="box-item">
            <img src="{% static random_art.image %}" alt="{{ random_art.title }}">
        </div>
    </div>

    <!--- Images content based on the dropdown filters -->
    <h1 class="heading">Search Products</h1>
    <!--
        dropdown headings can include either -
            1 - hyperlinks
            2 - forms and buttons
            3- all dropdowns can be inside one form! - chosen
    -->
    <div class="dropdown-container">
        <form action="{% url 'photostore:filter_products' %}" method="GET">
            <select name="category" class="dropdown-menu" required>
                <option value="" disabled selected>All Types</option>
                {% for category in categories %}
                    <option value="{{ category }}" aria-required="true">{{ category }}</option>
                {% endfor %}
            </select>
            <select name="theme" class="dropdown-menu" required>
                <option value="" disabled selected>All Themes</option>
                {% for theme in themes %}
                    <option value="{{ theme }}" aria-required="true">{{ theme }}</option>
                {% endfor %}
            </select>
            <select name="author" class="dropdown-menu" required>
                <option value="" disabled selected>All Authors</option>
                {% for author in authors %}
                    <option value="{{ author }}" aria-required="true">{{ author }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Apply Filters" class="dropdown-button">
        </form>
    </div>

    {% if filtered_products %}
        <h1 class="heading">Images related to "{{ category_selected }}", "{{ theme_selected }}" & "{{ author_selected }}"</h1>
        <div class="product-container">
            {% for product in filtered_products %}
                <div class="product"> 
                    <div class="box-item">
                        <!--image source-->
                        <img src="{% static product.image %}" alt="{{ product.title }}">
                    </div>
                    <div class="box-item">
                        <!--image description-->
                        <p>
                            <span class="box-item-title">{{ product.title }}</span>
                            <span>{{ product.description }}</span>
                            <span>Theme : {{ product.get_theme_display }}</span>
                            
                            {% if product.category == 'PH' %}
                                <cite>Image Source : By {{ product.author }} from <a class="photo-source" href="{{ product.image_url }}">Pexels</a></cite>
                            {% else %}
                                <cite>Image Source : <a class="photo-source" href="{{ product.image_url }}" target="_blank" rel="noopener">Bing Image Creator</a></cite>
                            {% endif %}
                            <b>{{ product.get_status_display }}</b>
                        </p>
                    </div>
                    <!--add to cart-->
                    <button>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'photostore:add-to-cart' id=product.id %}">
                                <img class="cart-icon" src="{% static 'photostore/add-to-cart.png' %}" alt="add-to-cart-icon"/>
                            </a>
                        {% else %}
                            <a href="{% url 'users:login' %}">
                                <img class="cart-icon" src="{% static 'photostore/add-to-cart.png' %}" alt="add-to-cart-icon"/>
                            </a>
                        {% endif %}
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
    <h1 class="heading">No filters selected.</h1>
    <!---add all products in for loop here--->
    <div class="product-container">
        {% for product in all_products %}
            <div class="product"> 
                <div class="box-item">
                    <!--image source-->
                    <img src="{% static product.image %}" alt="{{ product.title }}">
                </div>
                <div class="box-item">
                    <!--image description-->
                    <p>
                        <span class="box-item-title">{{ product.title }}</span>
                        <span>{{ product.description }}</span>
                        <span>Theme : {{ product.get_theme_display }}</span>
                        
                        {% if product.category == 'PH' %}
                            <cite>Image Source : By {{ product.author }} from <a class="photo-source" href="{{ product.image_url }}">Pexels</a></cite>
                        {% else %}
                            <cite>Image Source : <a class="photo-source" href="{{ product.image_url }}" target="_blank" rel="noopener">Bing Image Creator</a></cite>
                        {% endif %}
                        <b>{{ product.get_status_display }}</b>
                    </p>
                </div>
                <!--add to cart-->
                <button>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'photostore:add-to-cart' id=product.id %}">
                            <img class="cart-icon" src="{% static 'photostore/add-to-cart.png' %}" alt="add-to-cart-icon"/>
                        </a>
                    {% else %}
                        <a href="{% url 'users:login' %}">
                            <img class="cart-icon" src="{% static 'photostore/add-to-cart.png' %}" alt="add-to-cart-icon"/>
                        </a>
                    {% endif %}
                </button>
            </div>
        {% endfor %}
    </div>

    <div class="pagination-container">
        <div class="pagination-display">
            <!-- previous page button -->
            {% if all_products and all_products.has_previous %}
                <p class="pagination-display-button"><a href="{% url 'photostore:products' %}?page={{ all_products.previous_page_number }}">Previous Page</a></p>
            {% elif filtered_products and filtered_products.has_previous %}
                <p class="pagination-display-button"><a href="{% url 'photostore:filter_products' %}?page={{ filtered_products.previous_page_number }}">Previous Page</a></p>
            {% else %}
                <p class="pagination-home"><a href="{% url 'photostore:index' %}">Back to Home</a></p>
            {% endif %}
            <!-- page number -->
            {% if all_products %}
                <p class="pagination-display">Page {{ all_products.number }} of {{ all_products.paginator.num_pages }}</p>
            {% else %}
                <p class="pagination-display">Page {{ filtered_products.number }} of {{ filtered_products.paginator.num_pages }}</p>
            {% endif %}
            <!-- next page button -->
            {% if all_products and all_products.has_next %}
                <p class="pagination-display-button"><a href="{% url 'photostore:products' %}?page={{ all_products.next_page_number }}">Next Page</a></p>
            {% elif filtered_products and filtered_products.has_next %}
                <p class="pagination-display-button"><a href="{% url 'photostore:filter_products' %}?page={{ filtered_products.next_page_number }}">Next Page</a></p>
            {% else %}
                <p class="pagination-home"><a href="{% url 'photostore:index' %}">Back to Home</a></p>
            {% endif %}
        </div>
    </div>
    {% endif %}

</main>
{% endblock %}