{% extends "photostore/layout.html" %}
{% load static %}


{% block content %}
<!--
    <h1 class="heading">Search for...</h1>
    <form action = "{% url 'photostore:search' %}" method="GET">
        {{ form.query }}
        {{ form.submit }}
    </form>
-->
    {% if search_results %}
        <h2 class="heading">Search Results for "{{ query }}"</h2>
        <div class="product-container">
            {% for product in search_results %}
                <div class="product"> 
                    <div class="box-item">
                        <!--image source-->
                        <img src="{% static product.image %}" alt="{{ product.title }}">
                    </div>
                    <div class="box-item">
                        <!--image description-->
                        <p>
                            <span class="box-item-title">{{ product.title }}</span>
                            <span>{{ product.description }}</span>
                            <span>Theme : {{ product.get_theme_display }}</span>
                            
                            {% if product.category == 'PH' %}
                                <cite>Image Source : By {{ product.author }} from <a class="photo-source" href="{{ product.image_url }}">Pexels</a></cite>
                            {% else %}
                                <cite>Image Source : <a class="photo-source" href="{{ product.image_url }}" target="_blank" rel="noopener">Bing Image Creator</a></cite>
                            {% endif %}
                            <b>{{ product.get_status_display }}</b>
                        </p>
                    </div>

                    <!--add to cart-->
                    <button id="add-to-cart">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'photostore:add-to-cart' product_id=product.id %}">
                                <img class="cart-icon" src="{% static 'photostore/add-to-cart.png' %}" alt="add-to-cart-icon"/>
                            </a>
                        {% else %}
                            <a href="{% url 'users:login' %}">
                                <img class="cart-icon" src="{% static 'photostore/add-to-cart.png' %}" alt="add-to-cart-icon"/>
                            </a>
                        {% endif %}
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}